{% load static i18n %}
<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
				<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113941402-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-113941402-1');
		</script>

		<title>{% block title %} Invento 18 {% endblock title %}</title>
		<link rel="shortcut icon" href="{% static 'images/favicon_bg.ico' %}" type="image/ico" sizes="200x200">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#03051A" />
		<meta name="description" content="Invento 18 is the annual tech fest of Govt Engineering College, Palakkad held on March 16 - 18. This is the official website of invento 2018 tech fest">
		<meta name="keywords" content="Invento 18, Invento tech fest, GECSKP tech fest, Invento'18">
		<meta name='robots' content='All'/>

		{% block meta %}
		<meta property="og:site_name" content="Invento 18" />
		<meta property="og:title" content="Invento 18">
		<meta property="og:description" content="Invento 18 is the annual National level techfest of GEC Sreekrishnapuram Palakkad">
		{% endblock %}


		<meta property="og:image" itemprop="image" content="{% static 'images/college.jpg' %}">
		<meta property="og:image:type" content="image/jpeg">
		<link itemprop="thumbnailUrl" href="{% static 'images/favicon_bg.ico' %}">


		 {% block css %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link href="{% static 'css/project.css' %}" rel="stylesheet">
		 {% endblock %}

	</head>
	<body class="subpage">
		 {% block deptbanner %}
		 {% endblock deptbanner %}
		 {% block other %}
		 {% endblock other %}

		<div>
		<!-- Header -->
			<header id="header">

				<a href='/'>
				<img id="logo" align="left" width="250px" height="auto" src="{% static 'images/LOGO_white.png' %}" alt="">
				</a>

				<a href="#menu">Menu</a>

			</header>


		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'general' %}">General Events</a></li>
					<li><a href="{% url 'cse' %}">CSE Events</a></li>
					<li><a href="{% url 'ece' %}">ECE Events</a></li>
					<li><a href="{% url 'eee' %}">EEE Events</a></li>
					<li><a href="{% url 'it' %}">IT Events</a></li>
					<li><a href="{% url 'me' %}">ME Events</a></li>
					<li><a href="{% url 'sanjeevani' %}">Sanjeevani</a></li>
					<li><a href="{% url '3d' %}">View college in 3d</a></li>
					<li><a href="{% url 'about' %}">About ./tech_team</a></li>
				</ul>
			</nav>

		{% block content %}

		{% endblock %}


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="col">
							<h3>Contact Us</h3>
							<ul class="alt">
								<li><b>Coordinator</b></li>
								<li>Mohammed Sajid Musaliyar - 9061842389</li>
								<li><b>Secretary</b></li>
								<li>Arathi Menon - 9744331073</li>
								<li><b>Program Convenor</b></li>
								<li>Dhilraj Soza - 7736118919</li>
								<li><b>Staff Coordinator</b></li>
								<li>Dr Vinita Chellappan - 9495070478</li>
							</ul>
						</div>
						<div class="col">
							<h3>Address</h3>
							<ul class="alt">
								<li>Government Engineering College</li>
								<li>Mannampatta</li>
								<li>Sreekrishnapuram</li>
								<li>Palakkad</li>
								<li>Kerala</li>
								<li>Pin 678633</li>
								<li><b><a href="https://goo.gl/maps/UL5GNMi9VQu">Get Directions on Google Maps</a></b></li>
							</ul>
						</div>
						<div class="col">
							<h3>Made with <i class="icon fa-heart" style="color:red"></i>	 at GEC Palakkad</h3>
							<ul class="alt">
								<li style="text-align:center"><b>./tech_team</b></li>
								<li style="text-align:center"><b><a href="{% url 'about' %}">About Us</a></b></li>
								<li style="text-align:center">Found a bug or mistake? Whatsapp: <a href="https://api.whatsapp.com/send?phone=919495397075"><b>+919495397075</a></b></li>
								<li style="text-align:center">© <a href="/"><b>Invento 18</b></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="https://twitter.com/inventogec" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://facebook.com/inventogec" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/inventogec/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</div>
			</footer>
		</div>

		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>


		<script async src="{% static 'js/project.js' %}"></script>
		{% block javascript %}
		{% endblock javascript %}

		<script type="text/javascript">
		window._chatlio = window._chatlio||[];
		!function(){ var t=document.getElementById("chatlio-widget-embed");if(t&&window.ChatlioReact&&_chatlio.init)return void _chatlio.init(t,ChatlioReact);for(var e=function(t){return function(){_chatlio.push([t].concat(arguments)) }},i=["configure","identify","track","show","hide","isShown","isOnline", "page"],a=0;a<i.length;a++)_chatlio[i[a]]||(_chatlio[i[a]]=e(i[a]));var n=document.createElement("script"),c=document.getElementsByTagName("script")[0];n.id="chatlio-widget-embed",n.src="https://w.chatlio.com/w.chatlio-widget.js",n.async=!0,n.setAttribute("data-embed-version","2.3");
		n.setAttribute('data-widget-id','c64731a4-cefd-4fcc-5344-b8666c39b0a4');
		c.parentNode.insertBefore(n,c);
	}();
	</script>

	</body>
</html>
