{% extends "layout.html" %}
{% load static i18n %}

{% block content %}



    <!-- Banner -->
    <!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->



    <section id="banner" data-video="{% static 'images/banner' %}">

        <div class="inner">
            <header>

                <h1>INVENTO'18</h1>
                <h2>ANNUAL MULTIFEST</h2>
                <h3>MARCH 16 17 18</h3>
                <h4>GOVERNEMENT ENGINEERING COLLEGE SREEKRISHNAPURAM PALAKKAD</h4>
            </header>
            <a href="#main" class="button big special scrolly">Lets Invento!</a>
        </div>

    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section class="wrapper style1">
            <div class="inner">
                <header class="align-center">
                    <h2>Main Events</h2>
                    <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                </header>
                <!-- 2 Column Video Section -->
                <div class="flex flex-3">
                    <div class="video col">
                        <div class="image fit">
                            <img src="{% static 'images/dj.jpg' %}" alt="" />

                        </div>
                        <p class="caption">
                            EDM NIGHT
                        </p>
                        <a href="generic.html" class="link">
                            <span>Click Me</span>
                        </a>
                    </div>
                    <div class="video col">
                        <div class="image fit">
                            <img src="{% static 'images/natya.jpg' %}" alt="" />

                        </div>
                        <p class="caption">
                            NATYA
                        </p>
                        <a href="generic.html" class="link">
                            <span>Click Me</span>
                        </a>
                    </div>
                    <div class="video col">
                        <div class="image fit">
                            <img src="{% static 'images/dj2.jpg' %}" alt="" />

                        </div>
                        <p class="caption">
                            BAND WAR
                        </p>
                        <a href="generic.html" class="link">
                            <span>Click Me</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Two -->
        <section class="wrapper style2">
            <div class="inner">
                <header>
                    <h2>Mark The Dates</h2>
                    <p>Fusce fringilla enim sit amet lectus sollicitudin, eu tincidunt odio semper.</p>
                </header>
                <!-- Tabbed Video Section -->
                <div class="flex flex-tabs">
                    <ul class="tab-list">
                        <li>
                            <a href="#" data-tab="tab-1" class="active">MARCH 16</a>
                        </li>
                        <li>
                            <a href="#" data-tab="tab-2">MARCH 17</a>
                        </li>
                        <li>
                            <a href="#" data-tab="tab-3">MARCH 18</a>
                        </li>
                    </ul>
                    <div class="tabs">

                        <!-- Tab 1 -->
                        <div class="tab tab-1 flex flex-3 active">
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic01.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic02.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic03.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic04.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic05.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic06.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                        </div>

                        <!-- Tab 2 -->
                        <div class="tab tab-2 flex flex-3">
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic06.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic05.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic04.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic03.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic02.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic01.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                        </div>

                        <!-- Tab 3 -->
                        <div class="tab tab-3 flex flex-3">
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic03.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic02.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic01.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic06.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic05.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                            <!-- Video Thumbnail -->
                            <div class="video col">
                                <div class="image fit">
                                    <img src="{% static 'images/pic04.jpg' %}" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <a href="generic.html" class="link">
                                    <span>Click Me</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Three -->
        <section class="wrapper ">
            <div class="inner">
                <header class="align-center">
                    <h2>Aliquam ipsum purus dolor</h2>
                    <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                </header>

                <!-- 3 Column Video Section -->
                <div class="flex flex-3">
                    <div class="video col">
                        <div class="image fit">
                            <img src="{% static 'images/pic09.jpg' %}" alt="" />
                            <div class="arrow">
                                <div class="icon fa-play"></div>
                            </div>
                        </div>
                        <p class="caption">
                            Cras eget lacus sed mauris scelerisque tincidunt
                        </p>
                        <a href="generic.html" class="link">
                            <span>Click Me</span>
                        </a>
                    </div>
                    <div class="video col">
                        <div class="image fit">
                            <img src="{% static 'images/pic10.jpg' %}" alt="" />
                            <div class="arrow">
                                <div class="icon fa-play"></div>
                            </div>
                        </div>
                        <p class="caption">
                            Vivamus vulputate lacus non massa auctor lobortis
                        </p>
                        <a href="generic.html" class="link">
                            <span>Click Me</span>
                        </a>
                    </div>
                    <div class="video col">
                        <div class="image fit">
                            <img src="{% static 'images/pic11.jpg' %}" alt="" />
                            <div class="arrow">
                                <div class="icon fa-play"></div>
                            </div>
                        </div>
                        <p class="caption">
                            Nam eu nisi non ante sodales interdum a vitae neque
                        </p>
                        <a href="generic.html" class="link">
                            <span>Click Me</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>


{% endblock %}
