{% load static i18n %}
<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{% block title %} Invento18 {% endblock title %}</title>
		<link rel="icon" href="{% static 'images/LOGO_black.png' %}" type="image/png" sizes="16x16">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#03051A" />


		 {% block css %}

		<!-- Your stuff: Third-party CSS libraries go here -->
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />

		<!-- This file stores project-specific CSS -->
		<link href="{% static 'css/project.css' %}" rel="stylesheet">


		 {% endblock %}

	</head>
	<body class="subpage">
		 {% block deptbanner %}
		 {% endblock deptbanner %}
		 {% block other %}
		 {% endblock other %}

		<div>
		<!-- Header -->
			<header id="header">

				<a href='/'>
				<img id="logo" align="left" width="250px" height="auto" src="{% static 'images/LOGO_white.png' %}" alt="">
				</a>
				<a href="#menu">Menu</a>
			</header>


		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="{% url 'account_login' %}">Login</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
					<li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
					<li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
				</ul>
			</nav>

		{% block content %}

		{% endblock %}


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="col">
							<h3>Contact Us</h3>
							<ul class="alt">
								<li><b>Coordinator</b></li>
								<li>Mohammed Sajid Musaliyar - 9061842389</li>
								<li><b>Secretary</b></li>
								<li>Arathi Menon - 9744331073</li>
								<li><b>Program Convenor</b></li>
								<li>Dhilraj Soza - 7736118919</li>
								<li><b>Staff Coordinator</b></li>
								<li>Dr Vinita Chellappan - 9495070478</li>
							</ul>
						</div>
						<div class="col">
							<h3>Address</h3>
							<ul class="alt">
								<li>Government Engineering College</li>
								<li>Mannampatta</li>
								<li>Sreekrishnapuram</li>
								<li>Kerala</li>
								<li>Pin 679513</li>
								<li><a href="https://goo.gl/maps/UL5GNMi9VQu">Get Directions on Google Maps</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Made with <i class="icon fa-heart" style="color:red"></i>	 at GEC Palakkad</h3>
							<ul class="alt">
								<li style="text-align:center"><b>./tech_team</b></li>
								<li style="text-align:center"><b>Found a bug or mistake? Whatsapp <a href="https://api.whatsapp.com/send?phone=919495397075">+919495397075</a></b></li>
								<li></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="https://twitter.com/inventogec" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://facebook.com/inventogec" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/inventogec/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</div>
			</footer>
		</div>

		<!-- Required by Bootstrap v4 beta -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
			crossorigin="anonymous"></script>

		<!-- Your stuff: Third-party javascript libraries go here -->
		<!-- Scripts -->


		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		<script type="text/javascript">
    window._chatlio = window._chatlio||[];
    !function(){ var t=document.getElementById("chatlio-widget-embed");if(t&&window.ChatlioReact&&_chatlio.init)return void _chatlio.init(t,ChatlioReact);for(var e=function(t){return function(){_chatlio.push([t].concat(arguments)) }},i=["configure","identify","track","show","hide","isShown","isOnline", "page"],a=0;a<i.length;a++)_chatlio[i[a]]||(_chatlio[i[a]]=e(i[a]));var n=document.createElement("script"),c=document.getElementsByTagName("script")[0];n.id="chatlio-widget-embed",n.src="https://w.chatlio.com/w.chatlio-widget.js",n.async=!0,n.setAttribute("data-embed-version","2.3");
       n.setAttribute('data-widget-id','c64731a4-cefd-4fcc-5344-b8666c39b0a4');
       c.parentNode.insertBefore(n,c);
    }();
</script>



		<!-- place project specific Javascript in this file -->

		<script src="{% static 'js/project.js' %}"></script>
		{% block javascript %}

		{% endblock javascript %}



	</body>
</html>
