<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../1140.css">

    <link rel="stylesheet" href="source/style.css">
  </head>
  <body>
    <div class="container">
      <div id="scene"  data-invert-x="false" data-invert-y="false">
        <div class="layer " data-depth="0.20"><img  src="layer4new.png" alt=""></div>
        <div class="layer " data-depth="0.40"><img  src="layer3new.png" alt=""></div>
        <div class="layer " data-depth="0.60"><img  src="layer2new.png" alt=""></div>
        <div class="layer " data-depth="0.80"><img  src="layer1new.png" alt=""></div>
      </div>
    </div>



    <script src="source/jquery.parallax.js"></script>
    <script src="source/parallax.js"></script>
    <script>
    var scene =document.getElementById('scene');
    var parallax = new Parallax(scene);


    </script>

  </body>
</html>
