

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');


html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: "Overpass";
      font-weight: lighter;
      color: #fff;
      background: #15171c;
}


/* NAVIGATION BAR */

.nav {
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 60px;
}
/*border-bottom: 1px solid #2a2d34;*/

.nav.scrolled {
      background-color: #15171c !important;
      transition: background-color 300ms linear;
}

.menu-open {
      position: absolute;
      line-height: 60px;
      left: 1.4em;
}

.brand span a {
      position: absolute;
      line-height: 60px;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      font-family: 'Overpass';
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #fff !important;
}

.brand a:hover {
      text-decoration: none;
}



/* MENU */

.menu {
      position: fixed;
      z-index: 2;
      width: 30%;
      left: -30%;
      height: 100vh;
      background: #2a2d34;
      border-right: 1px solid rgba(0,0,0,0.1);
}

@media(max-width: 900px) {
      .menu {
            width: 100%;
            left: -100%;
      }
}

.menu-close {
      position: relative;
      line-height: 60px;
      float: right;
      margin-right: 20px;
}

.menu ul {
      list-style: none;
      position: relative;
      top: 40%;
      /* left: 10%; */
      transform: translate(0%, -50%);
}

.menu ul li {
      padding-bottom: 20px !important;
}

.menu ul li a {
      font-size: 12px;
}

.menu ul li a:hover {
      text-decoration: none;
}

.media-menu {
      position: relative;
      top: 50%;
}

.media-menu ul li {
      display: inline-block;
      padding-right: 10px;
}

/* HERO SECTION */

.hero-section {
      height: 100vh;
      border-bottom: 1px solid #2a2d34;
}

.hero-left {
      height: 100vh;
      background: #EEB609;
      color: #000000;
      z-index: 0;
}

/*.hero-right {
      height: 100vh;
      background: #15171c;
      z-index: 0;
}*/

.tagline {
      font-family: 'Overpass', sans-serif;
      font-size: 24px;
      font-weight: 300;
}

a {
      color: #a2a79e !important;
      font-family: "Larsseit";
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
}

.shipping {
      position: absolute;
      bottom: 30px;
      margin-left: 40px;
      font-size: 14px;
      font-weight: 300;
}

.hero-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.hero-image2 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 85%;
      transform: translate(-50%, -50%);
}

img {
      width: 100%;
}

.col-lg-6 {
      margin: auto;
}
.College {
      font-family: 'Overpass';
      font-size: 22px;
      text-align: center;
      font-weight: 1000;
      text-transform: uppercase;
}

/* Defining general properties for media icons used across the template */

.media {
      position: absolute;
      bottom: 20px;
      right: 0;
      margin-right: 20px;
}

.media ul {
      list-style: none;
}

.media ul li {
      display: inline-block;
      margin-right: 20px;
}

@media(max-width: 900px) {
      .hero-image2 {
            display: none;
      }
      .media {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
      }

      .media ul {
            margin-right: 0;
      }
}
.text{
	width: 100%;
	margin-top: 100px;
	text-align: center;
	text-transform: uppercase;
	color:white;
}

.text h1{
	font-size: 80px;
    color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}

.text h2{
	font-size: 25px;
color: #993399;
	font-family: 'Open Sans', sans-serif;
}


/* SECTON BASIC */

.section {
      padding: 80px 40px;
}

.section p {
      font-family: 'Bebas Neue';
      font-size: 24px;
      font-weight: 300;
}


.count{
  margin: 40px 0;
}
.countd{
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 2px solid;
  margin: 0 30px;
  font-size: 20px;
  font-style: bold;
  border-radius: 50%;
  overflow: hidden;
}
.countd span{
  display: block;
  font-size: 26px;
  margin-top: 14px;
}


/* PRODUCT / BANNER SEC */

.prod {
      margin-top: 20px;
}

.prod:hover a {
      text-decoration: none !important;
}

#prod-desc {
      margin-top: 16px;
      font-size: 16px;
      font-weight: 300;
      text-indent: 5px;
}

.prod-sec {
      width: 101%;
      border-top: 1px solid #2a2d34;
      border-bottom: 1px solid #2a2d34;
}

.prod-sec p {
      font-family: "Playfair Display";
      font-size: 24px;
      font-weight: 300;
}

@media(max-width: 900px) {
      .prod-sec {
            padding-left: 30px;
            width: 100%;
            border: none;
      }

      .prod-sec a {
            display: none;
      }
}

#price {
      font-family: "Overpass";
      font-weight: bold;
      text-transform: uppercase;
      font-size: 15px;
      padding-top: 1rem;
      text-align: center;
      color: #fff;
}

.prod-list #prod-desc {
      font-family: "Overpass";
      color: #fff;
      font-size: 12px;
      padding-bottom: 1rem;
      text-align: center;
      font-weight: 300;
}

/* FOOTER */

.footer {
      padding: 30px 0;
      background: #000033;
}



/* SHOP Page */

.whitespaces {
      height: 100px;
}

.collection {
      padding: 40px 0;
      border-bottom: 1px solid rgba(0,0,0,0.1);
}

.collection #heading {
      font-family: "Playfair Display";
      font-size: 20px;
      margin-left: 50px;
      padding-bottom: 0;
      position: relative;
      display: inline-block;
}

#heading::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #ece1b6;
}

.collection .section {
      margin: -50px 0;
}
.p{
    margin-left: 80px;
    margin-right: 80px;

}
}


/* PRODUCT PAGE */

.product-sec {
      padding-top: 60px;
      height: 100vh;
      border-bottom: 1px solid #2a2d34;
}

@media(max-width: 900px) {
      .product-sec {
            margin-bottom: 140px;
            border-bottom: none !important;
      }
}

.prod-left {
      border-right: 1px solid #2a2d34;
}

.prod-opt {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
}

#prod-name {
      font-family: "Overpass";
      font-weight: bold;
      font-size: 40px;
      text-transform: uppercase;
      color: #e52828;
}

.prod-opt #price {
      padding: 16px 0;
}

.input-helper {
      position: relative;
      display: inline-block;
      font-family: "Overpass";
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 1px;
}
.input-helper span {
      text-transform: uppercase;
      font-weight: bold;
}

.input-helper:before {
      content: '';
      display: block;
      position: absolute;
}

.input-helper--radio {
      padding-left: 18px;
}

.input-helper--radio:before {
      top: 2px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #222;
}

input[type="radio"] {
      display: none;
}

input[type="radio"]:checked + label:before {
      background: #e52828;
}

.product-sec ::placeholder, input {
      font-family: "Larsseit";
      text-transform: uppercase;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 4px;
      padding-left: 10px;
      padding-bottom: 3px;
}

.prod-holder {
      background: #e52828;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 6px 8px 19px 1px #000000;
}

.prod-holder img {
      border-radius: 5px;
}

.product-sec input {
      width: 130px;
}

@media(max-width: 900px) {
      .product-sec .hero-image {
            margin-top: 50%;
            display: block !important;
            height: 100vh;
      }

      .prod-opt {
            padding-top: 300px;
      }
}

.add-prod {
      margin: 50px 0;
}

.add-prod a {
      padding: 20px 40px;
      background: #e52828;
      font-weight: 300;
      letter-spacing: 4px;
      color: #fff !important;
      text-decoration: none;
}

.add-prod a:hover {
      text-decoration: none;
}


/* ABOUT PAGE */

.hero {
      height: 400px;
      background: #e52828;
      position: relative;
}

#hero-title {
      position: absolute;
      font-family: "Playfair Display";
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.content {
      margin-right: auto;
      margin-left: auto;
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: 'Overpass';
      width: 65% !important;
}

@media(max-width: 900px) {
      .content {
            width: 90% !important;
      }
}

.content p {
      font-family: "Overpass";
      font-weight: 300;
      color: #fff;
}

#blockquote {
      font-family: "Playfair Display";
      font-style: italic;
      font-size: 24px;
      padding: 30px 20px;
      margin: 20px 0;
      border: 1px solid #2a2d34;
}

/* CONTACT */

form label, textarea {
      font-family: "Larsseit";
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
}

.form-control {
      box-shadow: none !important
}

form input, textarea {
      border-radius: 0% !important;
}

form input:focus, textarea:focus {
      outline: none !important;
      border: 2px solid #000 !important;
}
