{% load static %}
<!DOCTYPE>
<html style="background-color: black">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>INVENTO</title>
<link rel="stylesheet" href="{% static 'css/loader.css' %}">

<body>
    <div class="bg">
        <div class="image">
        </div>
        <div class="wrap">
            <div class="loading">
                <div class="bounceball"></div>
                <div class="text">INVENTO'18</div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/threejs/three.min.js' %}"></script>
    <script src="{% static 'js/threejs/OrbitControls.js' %}"></script>
    <script src="{% static 'js/threejs/Detector.js' %}"></script>
    <script src="{% static 'js/collegeworld1.js' %}"></script>

</body>

</html>
