{% extends "base.html" %}

{% block title %} Ambassador link generator {% endblock %}

{% block content %}

<script>

var androidUrl;
var baseUrl;
var utmSource;
var utmCampaign;

function generator(){
  baseUrl = "https://inventogec.org?"
  utmSource = document.getElementById("code").value;
  utmCampaign = "amb";

  androidUrl = baseUrl+"utm_source="+utmSource+ "&utm_medium=" + "android" + "&utm_campaign=" + utmCampaign;
  var fbUrl = "https://www.facebook.com/sharer/sharer.php?u="+baseUrl+"utm_source="+utmSource+ "&utm_medium=" + "fb" + "&utm_campaign=" + utmCampaign;

  var android = document.getElementById("android");
  var fb = document.getElementById("fb");
  var copy = document.getElementById("copyButton");

  android.style.visibility = "visible";
  fb.style.visibility = "visible";
  copy.style.visibility = "visible";

  fb.href = fbUrl;

  var shareButton = document.getElementById('shareThis');
  var supported = document.getElementById('support');

  document.getElementById("genButton").className = "button special icon fa fa-check amb";
  // Listen for any clicks
  shareButton.addEventListener('click', function (ev) {
    // Check if the current browser supports the Web Share API
    if (navigator.share !== undefined) {

      // Get the canonical URL from the link tag
      //var shareUrl = document.querySelector('link[rel=canonical]') ? document.querySelector('link[rel=canonical]').href : window.location.href;
      console.log(androidUrl);
      // Share it!
      navigator.share({
        title: document.title,
        url: androidUrl
      }).then(() => console.log('Successful share'))
      .catch((error) => console.log('Error sharing:', error));

      ev.preventDefault();
    } else {
      supported.innerHTML = "Unfortunately, this feature is not supported on your browser";
    }
  });

}

function copyToClipboard(){
  var textArea = document.createElement("textarea");
  textArea.value = baseUrl+"utm_source="+utmSource+ "&utm_medium=" + "clipboard" + "&utm_campaign=" + utmCampaign;;

  document.body.appendChild(textArea);

  textArea.select();
  document.execCommand("copy");
  document.body.removeChild(textArea);
  document.getElementById("copyButton").className = "button special icon fa fa-check amb";
}

</script>

<section id="banner">
  <div class="inner">
    <header>
      <h2>Ambassador link generator</h2>
      Enter your ambassador code : <input type="text" id="code"><br>
      <button id="genButton" type="submit" onclick="generator()" class="button special fa fa-plus amb"> Generate share link</button>

      <a href="" id="fb" style="visibility:hidden">
        <button class="button special icon fa fa-facebook amb">Share on FB</button>
      </a>

      <a href="" id="android" style="visibility:hidden">
        <button id="shareThis" class="button special icon fa fa-android amb"> Share</button>
      </a>

        <button id="copyButton" class="button special icon fa fa-clipboard amb" onclick="copyToClipboard()"  style="visibility:hidden">Copy to clipboard</button>


      <p id="support"></p>


    </header>
  </div>
</section>

{% endblock content %}
