{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="author" content="harrnish - ig@harrnish">
      <link rel="icon" href="yourIconUrl" type="image/gif" sizes="16x16">
      <title>{{ event.title }} - Invento 19</title>

      <!-- bootstrapcdn -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <!-- external stylesheet -->
      <link rel="stylesheet" href="{% static 'invento19/css/style.css' %}">

      <!-- icon pack -->
      <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

      <!-- google font -->
      <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Overpass:100,300,400,700,800&display=swap" rel="stylesheet"> 
      <!-- jquery cdn -->
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

      <!-- tweenmax (greensock) cdn -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

      <!-- for on scroll animations -->
      <link rel="stylesheet" href="{% static 'invento19/css/animate.css' %}">
      <script src="{% static 'invento19/js/wow.min.js' %}"></script>
</head>
</head>
<body>
      <div class="product-container">

            <!-- NAVIGATION STARTS -->

            <div class="nav">
                  <div class="menu-open">
                        <ion-icon name="menu"></ion-icon>
                  </div>
                  <div class="brand">
                        <span><a href="index.html"><b>INVENTO</b></a></span>
                  </div>
                  <div class="menu">
                        <div class="menu-close">
                              <ion-icon name="close"></ion-icon>
                        </div>
                        <ul>
                              <li><a href="{% url 'home' %}">Home</a></li>
                              <li><a href="{% url 'general' %}">General Events</a></li>
                              <li><a href="{% url 'cse' %}">CSE Events</a></li>
                              <li><a href="{% url 'ece' %}">ECE Events</a></li>
                              <li><a href="{% url 'eee' %}">EEE Events</a></li>
                              <li><a href="{% url 'it' %}">IT Events</a></li>
                              <li><a href="{% url 'me' %}">ME Events</a></li>
                              <li><a href="{% url 'about' %}">About Us</a></li>
                        </ul>
                  </div>
            </div>


            <!-- NAVIGATION ENDS -->

            <!-- PRODUCT STARTS HERE -->

            <div class="container-fluid">
                  <div class="row product-sec">
                        <div class="col-lg-6 prod-left">
                              <div class="hero-image">
                                    <img src="{% static 'invento19/images/prod-04.jpg' %}" class="img wow fadeInUp" alt="">
                              </div>
                        </div>

                        <div class="col-lg-6 prod-right">
                              <div class="prod-opt">
                                    <h3 id="prod-name" class="wow fadeInUp" data-wow-delay="0.1s"> {{event.title}} </h3>                                   
                                    <div class="input-row wow fadeInUp"  data-wow-delay="0.3s">
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Details</span> : {{event.description | linebreaksbr }} </label>  <br> 
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Category</span> : {{event.get_category_display}}</label>  <br>                                   
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Day</span> : {% if event.day == 1 %} March 16 {% elif event.day == 2 %} March 17 {% elif event.day == 3 %} March 18 {% endif %}</label>  <br>                                                                     
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Fee</span> : {{ event.fee }} </label>   <br>                                 
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Contact</span> : {{event.coordinators|linebreaksbr }} </label>   <br>                                 
                                          {% if event.pdfurl %}
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Rules</span> : <a href="{{event.pdfurl}}">Download pdf</a> </label>   <br>                                 
                                          {% endif %}
                                          {% if event.prize %}
                                          <input type="radio" id="radio-input-1" checked>
                                          <label for="radio-input-1" class="input-helper input-helper--radio"> <span>Prize</span> : {{ event.prize }}K </label> </label>
                                          {% endif %}
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

            <!-- PRODUCT ENDS HERE -->

            <!-- CATEGORIES SECTION STARTS -->

            <!-- <div class="container-fluid">
                  <div class="row section shop">
                        <div class="col-lg-8">
                              <p class="wow fadeInUp" data-wow-delay="0.4s"> {{event.description}} </p>

                              <div class="link wow fadeInUp" data-wow-delay="0.6s">
                                    <a href="shop.html">learn more <ion-icon name="arrow-round-forward"></ion-icon></a>
                              </div>
                        </div>
                  </div>
            </div> -->


            <!-- CATEGORIES SECTION ENDS -->

            <div class="whitespaces"></div>

            <!-- FOOTER STARTS -->

            <div class="container-fluid footer">
                  <div class="section container">
                        <footer>
                              <div class="row">
                                    <div class="col-lg-3 block">
                                          <p>Wordoutlet, 3581 Lunneta Street,
                                          <br>
                                          Siesta Key, Florida. 20002,
                                          <br>
                                          USA</p>
                                    </div>
                                    <div class="col-lg-3 block">
                                          <p>FAQs
                                          <br>
                                          Return Policy
                                          <br>
                                          Shipping</p>
                                    </div>
                                    <div class="col-lg-3 block">
                                          <p>Careers
                                          <br>
                                          Community
                                          <br>
                                          Wholesale</p>
                                    </div>
                                    <div class="col-lg-3 block">
                                          <div class="media">
                                                <ul>
                                                      <li><ion-icon name="logo-facebook"></ion-icon></li>
                                                      <li><ion-icon name="logo-instagram"></ion-icon></li>
                                                      <li><ion-icon name="logo-twitter"></ion-icon></li>
                                                      <li><ion-icon name="logo-pinterest"></ion-icon></li>
                                                </ul>
                                          </div>
                                    </div>
                              </div>
                        </footer>
                  </div>
            </div>

            <!-- FOOTER ENDS -->
      </div>

      <script type="text/javascript">

      //Scroll reveal animations

      new WOW().init();

      //Scroll activated background change
      $(function() {
            $(document).scroll(function() {
                  var $nav = $(".nav");
                  $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
      });

      //Toggle MENU

      var t1 = new TimelineMax({paused: true});
      t1.to(".menu", 0.5, {
            left: "0%",
            ease: Power2.easeInOut
      });

      t1.reverse();
      $(document).on("click", ".menu-open", function() {
            t1.reversed(!t1.reversed());
      });
      $(document).on("click", ".menu-close", function() {
            t1.reversed(!t1.reversed());
      });

      </script>
</body>
</html>