{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

            <!-- NAVIGATION ENDS -->

            <div class="whitespaces"></div>

            <!-- COLLECTION STARTS -->
			{% if events %}
            <div class="collection">
                  <p id="heading">General Events</p>

                  <div class="section prod-list">
                        <div class="container-fluid">
                              <div class="row some-cards">
									{% for workshop in events %}
                                    <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.5s">
                                          <div class="prod-holder">
                                          <a href="/events/{{ workshop.pk }}">
                                                <img src="{% static 'invento19/images/prod-04.jpg' %}" alt="">
                                                <p id="price"> {{ workshop.title }} </p>
                                                <p id="prod-desc"> {{ workshop.description }} </p>
                                          </a>
                                          </div>
						</div>
									{% endfor %}
                              </div>
                        </div>
                  </div>
            </div>
			{% endif %}
            <!-- COLLECTION ENDS -->


            <!-- COLLECTION STARTS -->

            <!-- <div class="collection">
                  <p id="heading">Latest collection</p>

                  <div class="section prod-list">
                        <div class="container-fluid">
                              <div class="row some-cards">
                                    <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.5s">
                                          <a href="product.html">
                                                <p id="price">USD $20.00</p>
                                                <img src="images/prod-04.jpg" alt="">
                                                <p id="prod-desc">Daily Planner 2017 in Green</p>
                                          </a>
                                    </div>
                                    <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.8s">
                                          <a href="product.html">
                                                <p id="price">USD $30.00</p>
                                                <img src="images/prod-05.jpg" alt="">
                                                <p id="prod-desc">Daily Planner 2017/18 in Blue</p>
                                          </a>
                                    </div>
                                    <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="1.1s">
                                          <a href="product.html">
                                                <p id="price">USD $10.00</p>
                                                <img src="images/prod-06.jpg" alt="">
                                                <p id="prod-desc">Daily Planner 2019 in Brown</p>
                                          </a>
                                    </div>
                                    <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="1.4s">
                                          <a href="product.html">
                                                <p id="price">USD $25.00</p>
                                                <img src="images/prod-07.jpg" alt="">
                                                <p id="prod-desc">Daily Planner 2017 in Dark Brown</p>
                                          </a>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div> -->

            <!-- COLLECTION ENDS -->

            <!-- CATEGORIES SECTION STARTS -->

            <!-- <div class="container-fluid">
                  <div class="row section shop">
                        <div class="col-lg-8">
                              <p class="wow fadeInUp" data-wow-delay="0.4s">Do not wait; the time will never be right. Start where you stand, and work with whatever tools you may have at your command, and better tools will be found as you go along.</p>

                              <div class="link wow fadeInUp" data-wow-delay="0.6s">
                                    <a href="shop.html">learn more <ion-icon name="arrow-round-forward"></ion-icon></a>
                              </div>
                        </div>
                  </div>

                  <div class="container-fluid">
                        <div class="row some-cards">
                              <div class="col-lg-3"></div>

                              <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.3s">
                                    <img src="images/prod-01.jpg" alt="">
                                    <p id="prod-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptas nulla illum!</p>
                              </div>

                              <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.5s">
                                    <img src="images/prod-02.jpg" alt="">
                                    <p id="prod-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptas nulla illum!</p>
                              </div>

                              <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.7s">
                                    <img src="images/prod-03.jpg" alt="">
                                    <p id="prod-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptas nulla illum!</p>
                              </div>
                        </div>
                  </div>
            </div> -->


            <!-- CATEGORIES SECTION ENDS -->

            <div class="whitespaces"></div>
            {% endblock %}

            <!-- FOOTER STARTS -->
