{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- One -->
<section id="departmentbanner">

  <div class="inner">
    <header>

      <h1>INVENTO'18</h1>
      <h2>ANNUAL MULTIFEST</h2>
      <h3>MARCH 16 17 18</h3>
      <h4>GOVERNEMENT ENGINEERING COLLEGE SREEKRISHNAPURAM PALAKKAD</h4>
    </header>
    <a href="#main" class="button big special scrolly">Lets Invento!</a>
  </div>

</section>

	<!-- Main -->
		<div id="main">



		<!-- Three -->
			<section class="wrapper style1">


					<div class="inner">
					<!-- 3 Column Video Section -->
					<header class="align-left">
						<h2>March 18</h2>
						<p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
					</header>
					<div class="row 200%">
						<div class="6u 12u$(medium)">
								<hr />
								<h2>DETAILS</h2>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

								<hr />

						</div>

						<div class="6u$ 12u$(medium)">

																<hr/>
															<!-- Text stuff -->
																<h2>CONTACT</h2>
																Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
																<hr />
																<h2>REGISTER</h2>
																<h3>FEE : 500</h3>
																<a href="#" class="button special"> Register</a>
																<hr />



						</div>
					</div>
					</div>

					</section>




		</div>


{% endblock %}
