{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
            <!-- NAVIGATION ENDS -->

            <!-- HERO SECTION STARTS -->

            <div class="hero-section">
                  <div class="container-fluid">
                        <div class="row">
                              <div class="col-lg-6 hero-left">
                                    <div class="hero-image">
                                            <img src="{% static 'invento19/images/logo.png' %}" class="img wow fadeInUp" data-wow-delay="0.3s" alt="">
                                            <div class="College "><p>Government Engineering College Sreekrishnapuram</p></div>
                                    </div>
                              </div>
                              <div class="col-lg-6 hero-right">
                                    <div class="hero-image2 fadeInUp">
                                            <img src="{% static 'invento19/images/text.png' %}" class="img wow fadeInUp" data-wow-delay="0.3s" alt="">
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

            <!-- HERO SECTION ENDS -->

            <!-- PRODUCT LIST STARTS -->

            <div class="section prod-list">
                                <center><h1><p id="COUNT"></p></<h1></center>
                                <script>
                                  var countDownDate = new Date("mar 05, 2020 12:00:00").getTime();
                                  var x = setInterval(function() {
                                    var now = new Date().getTime();
                                    var distance = countDownDate - now;
                                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 *
                                    60 * 60));
                                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 *
                                    60));
                                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                    document.getElementById("COUNT").innerHTML = days + "D " +
                                    hours + "H "
                                    + minutes + "M " + seconds + "S ";
                                    if (distance < 0) {
                                      clearInterval(x);
                                      document.getElementById("COUNT").innerHTML = "EXPIRED";
                                    }
                                  }, 1000);
                                </script>
                              </div>

                              <!-- <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="1.7s">
                                <a href="product.html">
                                      <p id="price">USD $25.00</p>
                                      <img src="images/prod-07.jpg" alt="">
                                      <p id="prod-desc">Daily Planner 2017 in Dark Brown</p>
                                </a>
                          </div> -->


            <!-- PRODUCT LIST ENDS -->

            <!-- BANNER SECTION STARTS -->

            <div class="row prod-sec">

                  <div class="col-lg-4 prod-desc">
                        <br><br><br>
                        <center><h1> COMING SOON</h1></center>
                  </div>
            </div>

            <!-- BANNER SECTION ENDS -->

            <!-- CATEGORIES SECTION STARTS -->

            <div class="container-fluid">
                  <div class="row section shop">
                        <div class="col-lg-8">

                        </div>
                  </div>

                  <div class="container-fluid">
                        <div class="row some-cards">
                              <div class="col-lg-3"></div>

                              <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.3s">
                                    <img src="images/prod-01.jpg" alt="">
                                    <p id="prod-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptas nulla illum!</p>
                              </div>

                              <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.5s">
                                    <img src="images/prod-02.jpg" alt="">
                                    <p id="prod-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptas nulla illum!</p>
                              </div>

                              <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.7s">
                                    <img src="images/prod-03.jpg" alt="">
                                    <p id="prod-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptas nulla illum!</p>
                              </div>
                        </div>
                  </div>
            </div>

            <!-- CATEGORIES SECTION ENDS -->

            <br><br><br>

            {% endblock %}
