{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/textstyle.css' %}" />
<link rel="stylesheet" href="{% static 'css/project.css' %}" />

<style media="screen">
canvas{
  z-index: -1;
  position: fixed;
}
@media screen and (max-width: 480px) {
  #banner p {
    font-size: 1em;
  }
}
</style>

<canvas id="canvas"></canvas>
<section id="banner">
  <div class="inner">
    <header>

      <svg viewBox="0 0 960 300">
        <symbol id="s-text">
          <text text-anchor="middle" x="50%" y="80%">INVENTO'18</text>
        </symbol>

        <g class = "g-ants">
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
        </g>
      </svg>


      <h3>MARCH 16 17 18</h3>

    </header>
    <a href="https://images.inventogec.org/Invento'18Brochure.pdf"
     class="button special {# js-scroll-trigger #}">
    Download brochure</a>
  </div>

</section>

<!-- Main -->
<div id="main">

  <!-- One -->
  <section class="wrapper style1">
    <div class="inner">
      <header class="align-center">
        <h2>Main Events</h2>
        <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
      </header>

      <!-- 2 Column Video Section -->
      <div class="flex flex-3">
        <div class="video col">
          <div class="image fit">
            <img src="{% static 'images/bands.jpg' %}" alt="" />
          </div>
          <p class="caption">
            BAND WAR
          </p>
          <a href="/events/3" class="link">
            <span>Click Me</span>
          </a>
        </div>

        <div class="video col">
          <div class="image fit">
            <img src="{% static 'images/natya.jpg' %}" alt="" />
          </div>
          <p class="caption">
            NATYA
          </p>
          <a href="/events/1" class="link">
            <span>Click Me</span>
          </a>
        </div>

        <div class="video col">
          <div class="image fit">
            <img src="{% static 'images/adventure.jpg' %}" alt="" />
          </div>
          <p class="caption">
            ROADIES
          </p>
          <a href="/events/4" class="link">
            <span>Click Me</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Two -->
  <section class="wrapper style2">
    <div class="inner">
      <header>
        <h2>Mark The Dates</h2>
        <p>Fusce fringilla enim sit amet lectus sollicitudin, eu tincidunt odio semper.</p>
      </header>
      <!-- Tabbed Video Section -->
      <div class="flex flex-tabs">
        <ul class="tab-list">
          <li>
            <a href="#" data-tab="tab-1" class="active">MARCH 16</a>
          </li>
          <li>
            <a href="#" data-tab="tab-2">MARCH 17</a>
          </li>
          <li>
            <a href="#" data-tab="tab-3">MARCH 18</a>
          </li>
        </ul>
        <div class="tabs">

          <!-- Tab 1 -->
          <div class="tab tab-1 flex flex-3 active">
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic01.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic02.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic03.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic04.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic05.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic06.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
          </div>

          <!-- Tab 2 -->
          <div class="tab tab-2 flex flex-3">
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic06.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic05.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic04.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic03.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic02.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic01.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
          </div>

          <!-- Tab 3 -->
          <div class="tab tab-3 flex flex-3">
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic03.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic02.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic01.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic06.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic05.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
            <!-- Video Thumbnail -->
            <div class="video col">
              <div class="image fit">
                <img src="{% static 'images/pic04.jpg' %}" alt="" />
              </div>
              <a href="generic.html" class="link">
                <span>Click Me</span>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Three -->
  <section class="wrapper ">
    <div class="inner">
      <header class="align-center">
        <h2>Department Wise</h2>
      </header>

      <!-- 3 Column Video Section -->
      <div class="flex flex-3">
        <div class="video col">
          <div class="image fit">
            <img src="{% static 'images/pic09.jpg' %}" alt="" />
          </div>
          <p class="caption">
            General
          </p>
          <a href="generic.html" class="link">
            <span>Click Me</span>
          </a>
        </div>
        <div class="video col">
          <div class="image fit">
            <img src="{% static 'images/pic10.jpg' %}" alt="" />
          </div>
          <p class="caption">
            CSE
          </p>
          <a href="/cse" class="link">
            <span>Click Me</span>
          </a>
        </div>
        <div class="video col">
          <div class="image fit">
            <img src="{% static 'images/pic11.jpg' %}" alt="" />
          </div>
          <p class="caption">
            EC
          </p>
          <a href="/ece" class="link">
            <span>Click Me</span>
          </a>
        </div>
      </div>


      <div class="flex flex-3">
        <div class="video col">
          <div class="image fit">
            <img src="{% static 'images/pic09.jpg' %}" alt="" />
          </div>
          <p class="caption">
            EEE
          </p>
          <a href="/eee" class="link">
            <span>Click Me</span>
          </a>
        </div>
        <div class="video col">
          <div class="image fit">
            <img src="{% static 'images/pic10.jpg' %}" alt="" />
          </div>
          <p class="caption">
            IT
          </p>
          <a href="/it" class="link">
            <span>Click Me</span>
          </a>
        </div>
        <div class="video col">
          <div class="image fit">
            <img src="{% static 'images/pic11.jpg' %}" alt="" />
          </div>
          <p class="caption">
            ME
          </p>
          <a href="/me" class="link">
            <span>Click Me</span>
          </a>
        </div>
      </div>


    </div>
  </section>

</div>

<script src="{% static 'js/canvas.js' %}"></script>

{% endblock %}
