{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<title>IT Events - Invento 19</title>

            <!-- NAVIGATION ENDS -->

            <div class="whitespaces"></div>

            <!-- COLLECTION STARTS -->
			{% if workshops %}
            <div class="collection">
                  <p id="heading">Workshops</p>

                  <div class="section prod-list">
                        <div class="container-fluid">
                              <div class="row some-cards">
									{% for workshop in workshops %}
                                    <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.5s">
                                          <div class="prod-holder">
                                          <a href="/events/{{ workshop.pk }}">
                                                <img src="{% static 'invento19/images/prod-04.jpg' %}" alt="">
                                                <p id="price"> {{ workshop.title }} </p>
                                                <p id="prod-desc"> {{ workshop.description | linebreaksbr }} </p>
                                          </a>
                                          </div>
						</div>
									{% endfor %}
                              </div>
                        </div>
                  </div>
            </div>
			{% endif %}

			{% if shows %}
            <div class="collection">
                  <p id="heading">Shows</p>

                  <div class="section prod-list">
                        <div class="container-fluid">
                              <div class="row some-cards">
									{% for show in shows %}
                                    <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.5s">
                                                <div class="prod-holder">
                                                <a href="/events/{{ show.pk }}">
                                                      <img src="{% static 'invento19/images/prod-04.jpg' %}" alt="">
                                                      <p id="price"> {{ show.title }} </p>
                                                      <p id="prod-desc"> {{ show.description | linebreaksbr }} </p>
                                                </a>
                                                </div>
                                    </div>
									{% endfor %}
                              </div>
                        </div>
                  </div>
            </div>
			{% endif %}

			{% if competitions %}
            <div class="collection">
                  <p id="heading">Competitions</p>

                  <div class="section prod-list">
                        <div class="container-fluid">
                              <div class="row some-cards">
									{% for competition in competitions %}
                                    <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.5s">
                                          <div class="prod-holder">
                                          <a href="/events/{{ competition.pk }}">
                                                <img src="{% static 'invento19/images/prod-04.jpg' %}" alt="">
                                                <p id="price"> {{ competition.title }} </p>
                                                <p id="prod-desc"> {{ competition.description | linebreaksbr }} </p>
                                          </a>
                                          </div>
						</div>
									{% endfor %}
                              </div>
                        </div>
                  </div>
            </div>
			{% endif %}

			{% if talks %}
            <div class="collection">
                  <p id="heading">Talks</p>

                  <div class="section prod-list">
                        <div class="container-fluid">
                              <div class="row some-cards">
									{% for talk in talks %}
                                    <div class="col-lg-3 prod wow fadeInUp" data-wow-delay="0.5s">
                                          <div class="prod-holder">
                                          <a href="/events/{{ talk.pk }}">
                                                <img src="{% static 'invento19/images/prod-04.jpg' %}" alt="">
                                                <p id="price"> {{ talk.title }} </p>
                                                <p id="prod-desc"> {{ talk.description | linebreaksbr }} </p>
                                          </a>
                                          </div>
									</div>
									{% endfor %}
                              </div>
                        </div>
                  </div>
            </div>
			{% endif %}

            <!-- COLLECTION ENDS -->


            <div class="whitespaces"></div>
            {% endblock %}

            <!-- FOOTER STARTS -->
