{% extends "base.html" %}
{% load static %}

{% block title %} Dept Of Mechnanical Engineering - Invento 18{% endblock %}

{% block css %}


<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
<link href="{% static 'css/dept.css' %}" rel="stylesheet">
<link href="{% static 'css/gearstyle.css' %}" rel="stylesheet">

<style>
#departmentbanner{
  background: -webkit-linear-gradient(left, #2F2727, #1a82f7 );

}
.caption{
  background: -webkit-linear-gradient(left, #2F2727, #1a82f7);
}
</style>
{% endblock %}

{% block content %}
<!-- One -->
<section id="departmentbanner" >

      <div class='clock'>
      <div class='clock__mask'></div>
      <div class='gears'>
        <div class='gear--standard'>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
        </div>
        <div class='gear--reverse'>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
          <div class='gear__peg'></div>
        </div>
        <div class='gear--large'>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
        </div>
      </div>
      <div class='gears'>
        <div class='gear--large cornered'>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
        </div>
        <div class='gear--large cornered'>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
          <div class='gear__peg--large'></div>
        </div>
      </div>
    </div>
    <div class="inner">


  <header>

    <h1>DEPT OF</h1>
    <h1>MECHANICAL ENGINEERING</h1>

  </header>
  </div>


</section>

<!-- Main -->
<div id="main">

  <!-- Workshops -->
  {% if workshops %}
  <section class="wrapper style1">
    <div class="inner">
      <header class="align-left">
        <h2> WORKSHOPS </h2>
      </header>

      <div class="flex flex-3">

        {% for workshop in workshops %}
          <div class="video col">
            <div class="image fit">
              <img src="{{ workshop.imageurl }}" alt="" />
            </div>
            <h1 class="caption">
              {{ workshop.title }}
            </h1>
            <a href="/events/{{ workshop.pk }}" class="link"><span>Click Me</span></a>
          </div>
      {% endfor %}

    </div>

    </div>
  </section>
  {% endif %}

<!-- Shows -->
{% if shows %}
  <section class="wrapper style1">
    <div class="inner">
      <header class="align-left">
        <h2> SHOWS </h2>
      </header>

      <div class="flex flex-3">

        {% for show in shows %}
          <div class="video col">
            <div class="image fit">
              <img src="{{ show.imageurl }}" alt="" />
            </div>
            <h1 class="caption">
              {{ show.title }}
            </h1>
            <a href="/events/{{ show.pk }}" class="link"><span>Click Me</span></a>
          </div>
      {% endfor %}

    </div>

    </div>
  </section>
  {% endif %}

<!-- Competitions -->
{% if competitions %}
  <section class="wrapper style1">
    <div class="inner">
      <header class="align-left">
        <h2> COMPETITIONS </h2>
      </header>

      <div class="flex flex-3">

        {% for competition in competitions %}
          <div class="video col">
            <div class="image fit">
              <img src="{{ competition.imageurl }}" alt="" />
            </div>
            <h1 class="caption">
              {{ competition.title }}
            </h1>
            <a href="/events/{{ competition.pk }}" class="link"><span>Click Me</span></a>
          </div>
      {% endfor %}

    </div>

    </div>
  </section>
  {% endif %}



</div>


{% endblock %}
